.Splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}

.Splash-header {
  /* background-image: url('../../public/homepagebg.jpg'); */
  background-size: cover;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10rem;
  color: white;
}

.pineapple-suite-header{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  /* -webkit-background-clip: text; */
	/* background-clip: text; */
	/* background-image: linear-gradient(45deg,rgba(0, 255, 0, 0.3), rgba(255, 255, 0, 0.631)), url('../../../public/homepagetextpineapplebg.jpg'); */
	/* color: transparent; */
  animation-duration: 2s;
  animation-name: fadein;
  left: 6.3%;
  font-size: 180px;
  font-weight: 750;
  line-height: 140px;
  padding: 2px;
  z-index: 2;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.outer-wrapper{
  margin-bottom: 8%;
  animation-duration: 2s;
  animation-name: moveDown;
}

@keyframes moveDown {
  from {
    margin-top: -200px;
    margin-bottom: 0%;
  }

  to {
    margin-top: 0px;
    margin-bottom: 8%;
  }
}

.enter-site-button{
  animation-duration: 2s;
  animation-name: fadein;
}

.enter-site-button:active{
  scale: 0.95;
  z-index: 2;
}